{% if app.user %}
    <a href="/character" class="btn btn-secondary">Characters</a>
    <a href="/character/new" class="btn btn-secondary">Create Character</a>
    <a href="/quest" class="btn btn-primary">Quest</a>
{% endif %}